<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="githubanddone" value="https://nuget.pkg.github.com/AndDone-LLC/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="{GH_USER}" />
      <add key="ClearTextPassword" value="{GH_PAT}" />
    </github>
  </packageSourceCredentials>
</configuration>